/* Variables for colors */
:root {
  --color-shades-dark: rgb(0, 0, 0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0px auto;
  padding-inline: 16px;
  max-width: 600px;
  font-size: 115%;
  line-height: 1.4;
}

li {
  margin-block-end: 8px;
}

img {
  width: 100%;
}

nav li {
  display: inline-block;
}

nav a {
  --text-color: var(--color-shades-dark);
  border-block-end: 1px solid var(--border-color, transparent);
  color: var(--text-color);
  text-decoration: none;
}

/* Change the border-color on :hover and :focus */
nav a:where(:hover, :focus) {
  --border-color: var(--text-color);
}
